/* menu */
a:link{ 
background-color: black;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
color: white;	
width: 15%;
}

a:hover {
  background-color: grey;
  display :flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

a:visited{
color: white;
}
/*fin menu*/
.button{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#h1{
	display: flex;
	justify-content: center;
}

html{ 
	background-attachment: fixed;
	background-size: cover;
	background: #447BCB;
	background: -moz-linear-gradient(-45deg, #447BCB 0%, #7652EF 30%, #CE40A9 100%);
	background: -webkit-linear-gradient(-45deg, #447BCB 0%, #7652EF 30%, #CE40A9 100%);
	background: linear-gradient(135deg, #447BCB 0%, #7652EF 30%, #CE40A9 100%);
}
main{
	margin-bottom: 20px;
}
.img{
	display: flex;
	justify-content: center;
	align-content: space-around;
	margin-top: 24px;
}


#timbre{
	height: 200px;
	width: 400px;
}

#timbre:hover{
	opacity: 0.5;
	color: #CBCBCB;
}

#france{
	height: 200px;
	width : 400px;
	margin-bottom: 33px;
}

#france:hover{
	opacity: 0.5;
}

#canada{
	height: 200px;
	width : 400px;
}

#canada:hover{
	opacity: 0.5;
}

#allemagne{
	height: 200px;
	width : 400px;
}

#allemagne:hover{
	opacity: 0.5;
}


footer{
	margin-top:20px;
	display: flex;
	justify-content: center;
}

#a{
	background: #7E57FF;
	background: -moz-linear-gradient(-45deg, #7E57FF 0%, #8465EF 0%, #CE40A9 100%);
	background: -webkit-linear-gradient(-45deg, #7E57FF 0%, #8465EF 0%, #CE40A9 100%);
	background: linear-gradient(135deg, #7E57FF 0%, #8465EF 0%, #CE40A9 100%);
}
#f{
	background-color:blue ;
	color: white;
}

#i{
	background: #BFCB00;
	background: -moz-linear-gradient(-45deg, #BFCB00 0%, #EF6227 50%, #CE40A9 100%);
	background: -webkit-linear-gradient(-45deg, #BFCB00 0%, #EF6227 50%, #CE40A9 100%);
	background: linear-gradient(135deg, #BFCB00 0%, #EF6227 50%, #CE40A9 100%);
	color: white;
}

#t{
	background-color: skyblue;
}